@using Microsoft.Extensions.Localization
@using PenielSite2.Localize

@inject IStringLocalizer<Resource> _loc
@model HomeModel

@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light p-3">
    <h1>@Model.sermonTitle</h1>
    <h5>@_loc["by"] @Model.speakerName</h5>

    @Html.Raw(Model.reading_html)
</div>