@model HomeModel

@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.sermonTitle</h1>
<h5 align="center">@Model.speakerName</h5>

@Html.Raw(Model.reading_html)