
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>

<style>
    .Aclonica {
        font-family: 'Aclonica';
        font-size: 29px;
    }

    .AclonicaSm {
        font-family: 'Aclonica';
        font-size: 22px;
    }
    .AclonicaMd {
        font-size: 24px;
    }
</style>

@if (Model.lang == "en")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "For out of Zion shall go forth the law, and the Word of the Lord from
                Jerusalem"
            </strong>
            <strong>Isaiah 2:3</strong>
        </H4>
        <H1 align="center">
            <strong>Peniel Fellowship</strong>
        </H1>
        <H4 align="center">
            <strong>
                So Jacob called the name of the place Peniel:<br />
                "for I have seen God face to face, and my life is preserved."
            </strong>
        </H4>
        <p align="center">
            <strong>Genesis 32:30</strong>
        </p>
        <p>
            <strong>
                Dear visitor, you are most welcome to the website of Peniel Fellowship
                Israel.
            </strong>
        </p>
        <p class="AclonicaSm">
            The gathering of the nation of Israel back to the land of our forefathers
            is the fulfillment of the first part of Ezekiel's "dry bones" vision. That
            is the physical restoration of our nation. However, it is most exciting for
            us to live in Israel and to participate in the second part of this vision,
            the spiritual awakening of our nation Israel.
        </p>
        <p class="AclonicaSm">
            Together with the restoration of the people and the land of Israel, God has
            restored the ancient Hebrew language. As we study the Old and New
            Testaments in their original language &amp; original settings, led by the
            Holy Spirit as our teacher, we come across wonderful spiritual truths which
            have been lost for ages because of the limitations of foreign translation.
        </p>
        <p class="AclonicaSm">
            On this website, we desire to share some of the treasures which the Lord
            has been revealing to us from His word over the years.
        </p>
        <p>
            May the pure water of the word bless you as it has blessed us!
        </p>
    </div>
}

@if (Model.lang == "de")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "Denn von Zion wird Weisung ausgehen und das Wort des Herrn von Jerusalem"
            </strong>
            <strong>Jesaja 2:3</strong>
        </H4>
        <H1 align="center">
            <strong>Peniel Gemeinde</strong>
        </H1>
        <H4 align="center">
            <strong>
                "Und Jakob gab der Stätte den Namen Pniel, denn ich<br />
                habe Gott von Angesicht zu Angesicht gesehen, und meine Seele ist gerettet worden"
            </strong>
        </H4>
        <p align="center">
            <strong>1 Mose 32:30</strong>
        </p>
        <p>
            <strong>Lieber Besucher, Sie sind herzlich eingeladen zu der Peniel Gemeinde Israel Internet Seite.</strong>
        </p>
        <p class="AclonicaSm">
            Die Sammlung des Volkes Israel in das Land unserer Vorväter ist die Erfüllung des ersten
            Teils der "Toten Gebeine" Vision von Hesekiel. Das ist die physische Wiederherstellung unserer Nation.
        </p>
        <p class="AclonicaSm">
            Allerdings ist es sehr aufregend für uns in Israel zu leben und ein Teil des zweiten Teils
            dieser Vision, das geistliche Erwachen unseres Volkes Israel, das jetzt im Gange ist, zu sein.
        </p>
        <p class="AclonicaSm">
            Zusammen mit der Restaurierung der Menschen und dem Land Israel hat Gott auch die alte hebräische Sprache
            sowie die biblischen Feste mit ihrem tiefen Sinn wiederhergestellt. In dem wir das Alte und das Neue Testament
            in ihrem ursprünglichen Text betrachten, durch den Heiligen Geist als unser Lehrer und mit der hebräischen
            Sprache führen, stoßen wir auf wunderbare geistliche Schätze der Wahrheit, die seit langem verloren
            gingen und mit dem Staub von begrenzten Übersetzungen in andere Sprachen bedeckt wurde.
        </p>
        <p class="AclonicaSm">
            Es ist unser bescheidener Wunsch mit Ihnen zu teilen, liebe Brüder und Schwestern, das,
            was der Herr uns von seinem Wort über die Jahre offenbart hat.
        </p>
        <p>
            Möge das reine Wasser des Wortes Euch segnen, wie es uns gesegnet hat!
        </p>
    </div>
}

@if (Model.lang == "es")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "Porque de Sion saldrá la ley, y de Jerusalén la palabra del Señor"
            </strong>
            <strong>Isaias 2:3</strong>
        </H4>
        <H1 align="center">
            <strong>Congregación Peniel</strong>
        </H1>
        <H4 align="center">
            <strong>
                "Y llamó Jacob el nombre de aquel lugar, Peniel;<br />
                "[a] porque dijo: Vi a Dios cara a cara, y fue librada mi alma."
            </strong>
        </H4>
        <p align="center">
            <strong>Génesis 32:30</strong>
        </p>
        <p>
            <strong>Bienvenidos a la página web de la Congregación Peniel,  en Israel.</strong>
        </p>
        <p class="AclonicaSm">
            El retorno del pueblo de Israel a la tierra de nuestros ancestros, es el cumplimiento de la primera parte
            de la visión de Ezequiel sobre “los huesos secos”.  Es decir, la restauración física de nuestra nación.
        </p>
        <p class="AclonicaSm">
            Sin embargo, para nosotros es mucho más emocionante ser parte del cumplimiento de la segunda parte de esta
            visión: vivir en Israel y participar del despertar espiritual que está en proceso.
        </p>
        <p class="AclonicaSm">
            Al mismo tiempo que el pueblo de Israel fue restaurado a su tierra Israel,
            Dios también restauró el antiguo idioma Hebreo y las fiestas bíblicas con todo su profundo significado.
            Al estudiar el Antiguo y el Nuevo Testamento en su escritura original, guiados por el Espíritu Santo como
            nuestro maestro y con la lengua hebrea como herramienta, hemos descubierto  maravillosos tesoros espirituales
            que nos hablan de la verdad, los cuales han estado perdidos por siglos, recubiertos por el polvo de las limitadas
            traducciones en otras lenguas.
        </p>
        <p class="AclonicaSm">
            Queridos hermanos y hermanas, es nuestro humilde deseo el compartir con ustedes lo que el Señor nos ha
            revelado sobre Su Palabra a través de todos estos años.
        </p>
        <p>
            ¡Esperamos que sean bendecidos por el agua pura de La Palabra tal como nosotros lo hemos sido!
        </p>
    </div>
}

@if (Model.lang == "ru")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "Ибо от Сиона выйдет закон, и слово Господне - из Иерусалима."
            </strong>
            <strong>Исаия 2:3</strong>
        </H4>
        <H1 align="center">
            <strong>Община Пниэль</strong>
        </H1>
        <H4 align="center">
            <strong>
                "И нарек Иаков имя месту тому: Пенуэл;<br />
                ибо, говорил он, я видел Бога лицем к лицу, и сохранилась душа моя."
            </strong>
        </H4>
        <p align="center">
            <strong>Бытие 32:30</strong>
        </p>
        <p>
            <strong>Дорогой посетитель, добро пожаловать на страничку Мессианской Общины Пниэль, Израиль.</strong>
        </p>
        <p class="AclonicaSm">
            Возвращение народа Израиля в землю наших предков есть исполнение первой части видения пророка
            Иезекиля о "сухих костях". Это - физическое восстановление нашего народа.
        </p>
        <p class="AclonicaSm">
            Тем более, очень трогательно для нас жить в Израиле и участвовать во второй части этого
            видения, в процессе духовного пробуждения Израильского народа.
        </p>
        <p class="AclonicaSm">
            Вместе с возрождением народа и страны Израиля, Бог восстановил древний еврейский язык,
            а так же библейские праздники с их глубоким значением.
            Поскольку мы изучаем Старый и Новый Заветы в их оригинальном написании, при водительстве
            Святого Духа - нашего учителя, и знания еврейского языка, мы сталкиваемся с замечательными
            духовными сокровищами правды, которые были потеряны целую вечность и покрыты пылью ограниченных
            переводов на другие языки.
        </p>
        <p class="AclonicaSm">
            Наше скромное желание - разделить с Вами, дорогими братьями и сестрами, то Слово, которое
            Бог открывал нам в течение этих лет.
        </p>
        <p>
            Пусть чистая вода Его Слова благословит Вас так же, как благословляет нас!
        </p>
    </div>
}

@if (Model.lang == "fr")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "Car de Sion viendra la Loi,et de Jérusalem la Parole de l'Eternel"
            </strong>
            <strong>Ésaïe 2:3</strong>
        </H4>
        <H1 align="center">
            <strong>
                Péniel Fellowship
            </strong>
        </H1>
        <H4 align="center">
            <strong>
                Jacob nomma ce lieu Péniel (La face de Dieu) car, dit-il,<br />
                "j'ai vu Dieu face à face et j'ai eu la vie sauve":
            </strong>
        </H4>
        <p align="center">
            <strong>Genèse 32:31</strong>
        </p>
        <p>
            <strong>Chers visiteurs, soyez les bienvenus à la Page du site de l’Assemblee de Peniel - Israel</strong>
        </p>
        <p class="AclonicaSm">
            Le retour du peuple Juif sur la terre de nos ancêtres est l'accomplissement de la première partie.
            De la prophetie de la “Vision des Os secs” du livre du Prophete Ezekiel, c’est la restauration physique de notre nation.
        </p>
        <p class="AclonicaSm">
            Cependant, c'est encore plus passionnant pour nous, de vivre en Israel et faire partie de la 2eme.
            Partie de la prophetie, c’est a dire, le reveil spirituel deja en marche de notre peuple Israel.
        </p>
        <p class="AclonicaSm">
            Avec la restauration du peuple sur sa terre, Dieu a aussi rétabli la langue Hébraïque ainsi que les
            fetes Bibliques en profondeur. L’etude de l’Ancien et du Nouveau Testament dans leur sens originel,
            par la sagesse que nous donne l’Esprit Saint comme notre meilleur enseignant, et etant equipes de la
            langue Hebraique, nous decouvrons les precieux tresors de la verite, qui ont ete perdus pendant.
            une eternite et dissimules dans la poussiere des limitations des traductions en d’autres langues.
        </p>
        <p class="AclonicaSm">
            C’est notre humble desir de partager avec vous, chers freres et soeurs, ce que le Seigneur nous a
            revele dans sa Parole au fil des annees.
        </p>
        <p>
            Que l’eau pure de la Parole vous benisse comme elle nous a beni!
        </p>
    </div>
}

@if (Model.lang == "fi")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "Sillä Siionista lähtee laki ja Herran sana Jerusalemista"
            </strong>
            <strong>Jesaja 2:3</strong>
        </H4>
        <H1 align="center">
            <strong>
                Peniel Seurakunta
            </strong>
        </H1>
        <H4 align="center">
            <strong>
                Jaakob antoi paikan nimeksi Peniel:<br />
                "Sillä minä olen nähnyt Jumalan kasvoista kasvoihin, ja silti elämäni on säilynyt."
            </strong>
        </H4>
        <p align="center">
            <strong>1 Moos. 32:31</strong>
        </p>
        <p>
            <strong>
                Hyvä vierailija, olet erittäin tervetullut Tiberiaan Peniel Seurakunnan verkkosivustolle.
            </strong>
        </p>
        <p class="AclonicaSm">
            Israelin kansan kokoontuminen takaisin esi-isiemme maahan on Hesekielin "kuivien luiden" näyn
            ensimmäisen osan toteutumista. Se on kansakuntamme fyysinen palauttaminen.
        </p>
        <p class="AclonicaSm">
            Mielenkiintoisinta kuitenkin on elää Israelissa ja osallistua tämän näyn toisen osan toteutumiseen –
            Israelin Kansan hengelliseen heräämiseen
        </p>
        <p class="AclonicaSm">
            Israelin maan ja Kansan palauttamisen ohessa Jumala on palauttanut myös muinaisen Heprean kielen
            joka oli ollut unohduksissa noin kahden tuhannen vuoden ajan. Nyt kun meillä on uudelleen mahdolisuus
            tutkia  vanhaa ja uutta Testamenttia alkuperäisellä kielellään ja alkuperäisissä maisemissaan, ja kun
            opettajanamme on Pyhä Henki, olemme tulleet kohtaamaan arvokkaita henkisiä totuuksia, jotka ovat olleet
            kasdoksissa eri käännösten rajoitusten vuoksi.
        </p>
        <p class="AclonicaSm">
            Haluamme jakaa tällä sivustolla joitain niista aarteista,
            joita Herra on paljastanut sanastaan vuosien varrella.
        </p>
        <p>
            Siunatkoon ja virkistäkoon sinua sanan kirkas vesi,
            samoin kun se on siunannut ja virkistänyt meitä!
        </p>
    </div>
}

@if (Model.lang == "he")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "כִּי מִצִּיּוֹן תֵּצֵא תוֹרָה, וּדְבַר-יְהוָה מִירוּשָׁלִָים".
            </strong>
            <strong>ישעיהו ב' : ג'</strong>
        </H4>
        <H1 align="center">
            <strong>קהילת פניאל</strong>
        </H1>
        <H4 align="center">
            <strong>
                "וַיִּקְרָא יַעֲקֹב שֵׁם הַמָּקוֹם, פְּנִיאֵל:<br />
                כִּי-רָאִיתִי אֱלֹהִים פָּנִים אֶל-פָּנִים, וַתִּנָּצֵל נַפְשִׁי"
            </strong>
        </H4>
        <p align="center">
            <strong>בראשית ל"ב : ל"א</strong>
        </p>
        <p align="right">
            <strong>שלום לך גולש/ת יקר/ה, וברוך בואך לביקור באתר זה.</strong>
        </p>
        <p align="right" class="AclonicaMd">
            באתר שלפניך תמצא חומר לימוד הנובע מאמונתנו בקיומו של אלוהים, אלוהי אברהם יצחק ויעקב, בורא שמים וארץ. אנו מאמינים שכתבי הקודש, התנ"ך והברית חדשה, נכתבו בהשראת רוח אלוהים ומכילים את האמת שיכולה להאיר את דרכו של כל אדם החפץ למצוא לליבו שלום עמוק ואמיתי ולזכות בהבטחת חיי העולם.
        </p>
        <p align="right" class="AclonicaMd">
            השעורים שתמצא באתר זה מבוססים על דבר אלוהים חיים, על התנ"ך והברית החדשה.
            ספרים אלו כוללים את כל הבריתות שכרת בורא שמים וארץ עם יציריו. החל מבריתות שכרת ה' עם אברהם אבינו - ברית המילה, ברית בין הבתרים וכן הלאה, דרך בריתות שכרת אלוהים עם כלל עם ישראל - ברית סיני, וכלה בברית החדשה אותה כרת אלוהים, אלוהי אברהם יצחק ויעקב, עם כל ברואיו באשר הם.
        </p>
        <p align="right" class="AclonicaMd">
            כל הבריתות הללו ניתנו לאנושות דרך אברהם אבינו ודרך עם הבחירה שיצא מחלציו - עם ישראל, והם היו לאור לגויים במשך אלפי שנים.
        </p>
        <p align="right">
            בתקווה שישוע המשיח, בן-דוד, שר-השלום ועמנו-אל, יתגלה גם לך במהרה בימינו
            וימלא את לבך בשלום אמיתי אין קץ.
        </p>
    </div>
}

@if (Model.lang == "it")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "Da Sion, infatti, uscirà la legge, e da Gerusalemme la parola del Signore."
            </strong>
            <strong>Isaia 2:3</strong>
        </H4>
        <H1 align="center">
            <strong>Assemblea Peniel</strong>
        </H1>
        <H4 align="center">
            <strong>
                Giacobbe chiamò quel luogo Peniel, perché disse:<br />
                "Ho visto Dio faccia a faccia e la mia vita è stata risparmiata."
            </strong>
        </H4>
        <p align="center">
            <strong>Genesi 32:30</strong>
        </p>
        <p>
            <strong>Caro visitatore, benvenuto al sito dell'Assemblea Peniel in Israele.</strong>
        </p>
        <p class="AclonicaSm">
            La raccolta del popolo ebraico nella terra dei padri in Israele è l'adempimento della prima parte della
            visione delle "ossa secche" del profeta Ezechiele. Si tratta della restaurazione fisica della nostra nazione.
        </p>
        <p class="AclonicaSm">
            Ma per noi vivere in Israele è ancor più entusiasmante per esser partecipi della seconda parte della visione:
            il risveglio spirituale della nazione d'Israele in atto nei nostri giorni.
        </p>
        <p class="AclonicaSm">
            Contemporaneamente alla restaurazione della nazione e della terra d'Israele, Dio ha risuscitato anche
            l'antica lingua ebraica, assieme alle celebrazioni delle feste bibliche con i loro profondi significati.
            Mentre studiamo l'Antico e il Nuovo Testamento nel loro ambiente originale, sotto la guida dello Spirito
            Santo che c'insegna ed equipaggiati della conoscenza della lingua ebraica, incontriamo meravigliosi
            tesori spirituali di verità che erano andati persi nei secoli passati, ricoperti dalla polvere di
            traduzioni insoddisfacenti in altre lingue.
        </p>
        <p class="AclonicaSm">
            Cari fratelli e sorelle, il nostro umile desiderio è di condividere con voi quanto il Signore
            ci ha rivelato dalla Sua Parola nel corso degli anni.
        </p>
        <p>
            Possa la pura acqua della Parola essere di benedizione per voi, come lo è stato per noi!
        </p>
    </div>
}

@if (Model.lang == "zh")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                “因为训诲必出于锡安，耶和华的言语必出于耶路撒冷”
            </strong>
            <strong>以赛亚书2:3</strong>
        </H4>
        <H1 align="center">
            <strong>毗努伊勒团契</strong>
        </H1>
        <H4 align="center">
            <strong>
                雅各便给那地方起名叫毗努伊勒，意思说：<br />
                “我面对面见了神， 我的性命仍得保全。”
            </strong>
        </H4>
        <p align="center">
            <strong>创世纪32：30</strong>
        </p>
        <p>
            <strong>亲爱的访客，非常欢迎你们来到以色列毗努伊勒团契的网站。</strong>
        </p>
        <p class="AclonicaSm">
            以色列国家的聚集并回归我们先祖的土地是以西结书“枯骨”异象的第一部分的应验。那是我们国家地理上的恢复。
        </p>
        <p class="AclonicaSm">
            无论如何，最让我们兴奋的是住在以色列并且参与这个异象的第二部分，我们国家的以色列正在属灵的觉醒过程中。
        </p>
        <p class="AclonicaSm">
            与以色列人民和土地一起，神也恢复他了古老的希伯来语言，并圣经的节日和他们深刻的含义。
            如同我们在原本的安排中学习旧约和新约，通过我们的教师圣灵的引导并希伯来语的装备，我们遇到了那些遗失了很久，
            并在被翻译成其它语言时的局限的灰尘所掩盖的真理的奇妙的属灵宝藏。
        </p>
        <p class="AclonicaSm">
            这是我们谦卑的愿望，就是与亲爱的弟兄姐妹们分享，主几年来一直通过他的话向我们显明的。
        </p>
        <p>
            愿话语纯净的水祝福你们，如同已经祝福了我们一样！
        </p>
    </div>
}

@if (Model.lang == "pt")
{
    <div class="text-white Aclonica">
        <p></p>
        <H4 align="center">
            <strong>
                "For out of Zion shall go forth the law, and the Word of the Lord from
                Jerusalem"
            </strong>
            <strong> Isaiah 2:3</strong>
        </H4>
        <H1 align="center">
            <strong>Peniel Fellowship</strong>
        </H1>
        <H4 align="center">
            <strong>
                So Jacob called the name of the place Peniel:<br />
                "for I have seen God face to face, and my life is preserved."
            </strong>
        </H4>
        <p align="center">
            <strong>Genesis 32:30</strong>
        </p>
        <p>
            <strong>
                Dear visitor, you are most welcome to the website of Peniel Fellowship
                Israel.
            </strong>
        </p>
        <p class="AclonicaSm">
            The gathering of the nation of Israel back to the land of our forefathers
            is the fulfillment of the first part of Ezekiel's "dry bones" vision. That
            is the physical restoration of our nation. However, it is most exciting for
            us to live in Israel and to participate in the second part of this vision,
            the spiritual awakening of our nation Israel.
        </p>
        <p class="AclonicaSm">
            Together with the restoration of the people and the land of Israel, God has
            restored the ancient Hebrew language. As we study the Old and New
            Testaments in their original language &amp; original settings, led by the
            Holy Spirit as our teacher, we come across wonderful spiritual truths which
            have been lost for ages because of the limitations of foreign translation.
        </p>
        <p class="AclonicaSm">
            On this website, we desire to share some of the treasures which the Lord
            has been revealing to us from His word over the years.
        </p>
        <p>
            May the pure water of the word bless you as it has blessed us!
        </p>
    </div>
}


